$black: #000;
$white: #ffffff;
$cultured: #faf9f8;
$lblack: #38393f;
$llblack: #5f606b;
$dyellow: #f2f467;
$yellow: #f8f6a5;
$lgreen: #c2f1e7;
$ldgreen: #2abb9c;
$dgreen: #1d7e69;
$ddgreen: #166252;
$lred: #fdcdcd;
$dred: #ad0808;
$lblue: #c5e4f0;
$dblue: #20627d;
$fuchsia: #e7406c;
$pink: #f8c9d5;
$brown: #ab8484;
$orange: #f8d0b7;
