@use "../../../css/base/variables" as *;

.song {
  position: relative;
  padding: 15px;
  margin: 15px 15px 0 15px;
  border-radius: 15px;
  line-height: 2rem;
  background-color: $lblue;
  color: $dblue;
  > * {
    margin-bottom: 8px;
  }
  &__author {
    font-size: 1.5rem;
  }
  &__title {
    font-weight: 700;
    font-size: 1.7rem;
  }
  &__photo {
    width: 100%;
    height: auto;
    display: block;
  }
  &__path {
    width: 100%;
    height: auto;
    display: block;
  }
}
