@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";
@use "./fontello-sunglasses.css";

// base styles

body {
  &.darkmode {
    background-color: $lblack;
  }
}

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

// Main page components

#root {
  position: relative;
  margin: 0 auto;
  padding: 10px 30px 30px 15px;
  max-width: 1400px;
  min-height: 100vh;
  display: flex;
  background-color: $cultured;
  &.darkmode {
    background-color: $lblack;
  }
  > main {
    width: 80%;
    padding-right: 10px;
    margin-bottom: 25px;
    h1 {
      text-align: center;
      font-size: 4rem;
      font-weight: 900;
      text-transform: uppercase;
      padding: 34px 0 20px 0;
      color: $lblack;
      &.darkmode {
        color: $cultured;
      }
      span {
        cursor: pointer;
        transition: color 200ms;
        color: $lblack;
        &.darkmode {
          color: pink;
        }
      }
    }
  }
  > aside {
    margin-bottom: 25px;
    width: 20%;
    min-width: 230px;
    border: 4px solid $lblack;
    background-color: $lblack;
    margin-top: 15px;
    border-radius: 20px;
    &.darkmode {
      background-color: $cultured;
      border: 4px solid $cultured;
    }
    .likes__header {
      color: $cultured;
      font-size: 4rem;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
      background-color: $lblack;
      padding: 15px 0 30px 0;
      border-radius: 20px;
      &.darkmode {
        background-color: $cultured;
        color: $lblack;
      }
    }
    .likes__main {
      border-radius: 20px;
      border: 4px solid $white;
      background-color: $cultured;
      min-height: calc(100% - 70px);
      margin-top: -15px;
      padding-bottom: 15px;
      &.darkmode {
        background-color: $lblack;
        border: 4px solid $lblack;
      }
      .card {
        margin-bottom: 30px;
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  #root > main h1 span {
    &:hover {
      color: $fuchsia;
    }
  }
}

#news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#music,
#photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
}

// star

.like {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: $lblack;
  color: $white;
  font-size: 2rem;
  padding: 7px 0 0 7px;
  cursor: pointer;
  transition: color 500ms;
  &.darkmode {
    background-color: $lllblack;
    color: $cultured;
  }
  svg {
    pointer-events: none;
    use {
      pointer-events: none;
    }
  }
  &--active {
    color: $yellow;
    &.darkmode {
      color: $yellow;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .like {
    &.darkmode:hover {
      background-color: $grey;
    }
    &:hover {
      background-color: $llblack;
    }
  }
}

// animation card

@media (hover: hover) and (pointer: fine) {
  .card {
    transition: 200ms;
    &:hover {
      box-shadow: 5px 10px 22px -3px rgba(0, 0, 0, 0.27);
      transform: scale(1.01);
    }
  }
}

// heart

.heart {
  display: none;
  position: fixed;
  top: 85vh;
  right: 25px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: $fuchsia;
  color: $cultured;
  font-size: 3.2rem;
  padding: 10px 0 0 9px;
  cursor: pointer;
  transition: color 1500ms;
  svg {
    pointer-events: none;
    use {
      pointer-events: none;
    }
  }
  &--active {
    color: $pink;
  }
}

// responsive styles

@media screen and (max-width: 1203px) {
  #news {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1147px) {
  #music,
  #photos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 957px) {
  #news {
    grid-template-columns: 1fr 1fr;
  }
  #music,
  #photos {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 714px) {
  #news {
    grid-template-columns: 1fr;
  }
  #music,
  #photos {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 524px) {
  .heart {
    display: block;
  }
  #root {
    padding: 10px 15px 0 15px;
    max-width: 100vw;
    overflow: hidden;
    > main {
      width: 100%;
    }
    > aside {
      position: absolute;
      left: 200%;
      width: calc(100vw - 30px);
      margin-bottom: 25px;
      margin-top: 0;
      margin-right: 30px;
      .likes__header {
        padding: 15px 0 30px 0;
      }
      .likes__main {
        min-height: calc(100vh - 26px - 70px);
      }
    }
  }
}

// animation heart icon

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

// rotate animation star icon

@-webkit-keyframes rotate-center-once {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// pulse animation heart icon

/* ----------------------------------------------
 * Generated by Animista on 2021-11-4 7:47:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
