@use "./base/reset";
@use "./base/fonts";

// base styles

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
}

#root {
  margin: 0 auto;
  max-width: 1300px;
  min-height: 100vh;
  display: flex;
  > main {
    outline: 1px solid black;
    width: calc(1300px - 200px);
    section {
      outline: 1px solid black;
      min-height: 33.33vh;
    }
  }
  > aside {
    width: 200px;
    outline: 1px solid black;
  }
}

#news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
